html/dev/pug/layout/category-content.pug
section
    .container
        .row 
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .advertising
                    img(src="img/advertising.jpg", alt="#")
        .row 
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                h1.title Pr.uz - Новости
        .row.dfr
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#")
            .col-lg-3.col-md-3.col-sm-4.col-xs-6
                .category-item
                    img(src="img/category.jpg", alt="")
                    .description
                        h2.title Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021
                        p.date 11.01.2021 | 10:09
                    a.link(href="#") 

html/dev/layout/category-content.html

<section>
  <div class="container">
    <div class="row"> 
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="advertising"><img src="img/advertising.jpg" alt="#"/></div>
      </div>
    </div>
    <div class="row"> 
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="title">Pr.uz - Новости</h1>
      </div>
    </div>
    <div class="row dfr">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <div class="category-item"><img src="img/category.jpg" alt=""/>
          <div class="description">
            <h2 class="title">Цены на автомобили UzAuto Motors (GM Uzbekistan) 2021</h2>
            <p class="date">11.01.2021 | 10:09</p>
          </div><a class="link" href="#"> </a>
        </div>
      </div>
    </div>
  </div>
</section>
