html/dev/layout/header.html

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="dfr"><a class="logo" href="/"> <img src="../img/logo.svg" alt="" width="195px"/></a>
          <ul class="menu">
            <li><a href="#">Новости</a></li>
            <li><a href="#">Эксклюзив</a></li>
            <li><a href="#">Кейсы</a></li>
          </ul><a class="button icon-telegram" href="#">Телеграм</a>
          <form class="form-search">
            <input class="search" type="text" placeholder="search"/>
            <button class="icon-search"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

html/dev/pug/layout/header.pug
header
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .dfr
                    a.logo(href="/") 
                        img(src="../img/logo.svg", alt="" width="195px")  
                    ul.menu
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Эксклюзив
                        li
                            a(href="#") Кейсы
                    a.button.icon-telegram(href="#") Телеграм
                    form.form-search
                        input.search(type="text" placeholder="search")
                        button.icon-search
