html/dev/pug/layout/header-404.pug
header
    .container
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .dfr
                    a.logo(href="/") 
                        img(src="../img/logo.svg", alt="" width="195px") 
                    i.icon-plus-18
                    ul.soc
                        li.icon-facebook
                            a(href="#")
                        li.icon-vk
                            a(href="#")
                        li.icon-telegram
                            a(href="#")

html/dev/layout/header-404.html

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="dfr"><a class="logo" href="/"> <img src="../img/logo.svg" alt="" width="195px"/></a><i class="icon-plus-18"></i>
          <ul class="soc">
            <li class="icon-facebook"><a href="#"></a></li>
            <li class="icon-vk"><a href="#"></a></li>
            <li class="icon-telegram"><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
